In [1]:
import numpy as np
import pandas as pd
pd.set_option('display.max_columns', None)


MergedSummary = pd.read_csv('MergedSummary.csv')
df = pd.read_csv('Long_sample.csv')
df['date'] = pd.to_datetime(df['date'])

In [2]:
MergedSummary.head()

,state,date,SumDailyVisits_x,MaxDailyVisitsPerUnit_x,MinDailyVisitsPerUnit_x,MedDailyVisitsPerUnit_x,UniqueVisits_x,Nunits_x,SumDailyVisits_y,MaxDailyVisitsPerUnit_y,MinDailyVisitsPerUnit_y,MedDailyVisitsPerUnit_y,UniqueVisits_y,Nunits_y,AvgDailyVisits_x,AvgDailyVisits_y,Post03132020,BlueState,BluePost
0,AL,2018-01-01,68,20,3,8.0,7,7,7,7,7,7.0,1,1,9.714286,7.0,0,0,0
1,AL,2018-01-02,39,9,3,5.0,6,7,10,10,10,10.0,1,1,5.571429,10.0,0,0,0
2,AL,2018-01-03,70,25,2,9.0,6,7,18,18,18,18.0,1,1,10.000000,18.0,0,0,0
3,AL,2018-01-04,73,25,5,9.0,5,7,14,14,14,14.0,1,1,10.428571,14.0,0,0,0
4,AL,2018-01-05,106,35,5,15.0,6,7,30,30,30,30.0,1,1,15.142857,30.0,0,0,0

In [3]:
MergedSummary['date'] = pd.to_datetime(MergedSummary['date'])

In [4]:
state_counts = MergedSummary['state'].value_counts()

print(state_counts)

state
AL    1827
MD    1827
WI    1827
VA    1827
TX    1827
TN    1827
PA    1827
OH    1827
NY    1827
NM    1827
NJ    1827
NC    1827
MS    1827
MN    1827
MI    1827
MO    1827
GA    1827
AZ    1827
KS    1827
CA    1827
IN    1827
IL    1827
CO    1827
FL    1827
IA    1820
MT    1813
ID    1813
NV    1799
OK    1799
UT    1729
DE    1610
MA    1610
WV    1610
RI    1463
KY    1456
LA    1386
WA    1302
NH    1008
AR     679
CT     406
Name: count, dtype: int64

In [5]:
MergedSummary['state'].describe()

count     67151
unique       40
top          AL
freq       1827
Name: state, dtype: object

In [6]:
MergedSummary['state'].describe()

count     67151
unique       40
top          AL
freq       1827
Name: state, dtype: object

In [7]:
census = pd.read_csv('census_state_2016.csv')

In [8]:
census.head()

,state,total_population,male,female,median_age,age_over18,age_over21,age_over62,age_over65,single_race,two_or_more_race,white,black,indian_alaska,asian,hawaiian_pacific,other_races,hispanic_latino,housing_units,citizen,citizen_male,citizen_female,state_abbr
0,Alabama,4863300,2356052,2507248,39.0,3763783,3553484,964274,783952,4779442,83858,3389735,1338854,56661,85704,3769,77234,199686,2230180,3670229,1742667,1927562,AL
1,Alaska,741894,390573,351321,33.5,554598,526655,99799,75832,677933,63961,536380,37479,145982,61637,15903,15826,51304,310672,531845,280943,250902,AK
2,Arizona,6931071,3444228,3486843,37.5,5299649,5003462,1411716,1169826,6681391,249680,5465822,384932,392975,289425,31883,643100,2144775,2961136,4801062,2357954,2443108,AZ
3,Arkansas,2988248,1468782,1519466,38.0,2280888,2142654,594353,485630,2910827,77421,2358554,496098,53548,53699,11608,97373,214544,1354801,2193217,1061614,1131603,AR
4,California,39250017,19491231,19758786,36.4,30156768,28534107,6597908,5348439,37370367,1879650,24980439,2758577,746753,6432756,319337,6074661,15280776,14061375,25197798,12339669,12858129,CA

In [9]:
FinalAnalysisSample = pd.merge(MergedSummary, census, left_on = 'state',
                 right_on = 'state_abbr', how = 'left')

FinalAnalysisSample.head()

,state_x,date,SumDailyVisits_x,MaxDailyVisitsPerUnit_x,MinDailyVisitsPerUnit_x,MedDailyVisitsPerUnit_x,UniqueVisits_x,Nunits_x,SumDailyVisits_y,MaxDailyVisitsPerUnit_y,MinDailyVisitsPerUnit_y,MedDailyVisitsPerUnit_y,UniqueVisits_y,Nunits_y,AvgDailyVisits_x,AvgDailyVisits_y,Post03132020,BlueState,BluePost,state_y,total_population,male,female,median_age,age_over18,age_over21,age_over62,age_over65,single_race,two_or_more_race,white,black,indian_alaska,asian,hawaiian_pacific,other_races,hispanic_latino,housing_units,citizen,citizen_male,citizen_female,state_abbr
0,AL,2018-01-01,68,20,3,8.0,7,7,7,7,7,7.0,1,1,9.714286,7.0,0,0,0,Alabama,4863300,2356052,2507248,39.0,3763783,3553484,964274,783952,4779442,83858,3389735,1338854,56661,85704,3769,77234,199686,2230180,3670229,1742667,1927562,AL
1,AL,2018-01-02,39,9,3,5.0,6,7,10,10,10,10.0,1,1,5.571429,10.0,0,0,0,Alabama,4863300,2356052,2507248,39.0,3763783,3553484,964274,783952,4779442,83858,3389735,1338854,56661,85704,3769,77234,199686,2230180,3670229,1742667,1927562,AL
2,AL,2018-01-03,70,25,2,9.0,6,7,18,18,18,18.0,1,1,10.000000,18.0,0,0,0,Alabama,4863300,2356052,2507248,39.0,3763783,3553484,964274,783952,4779442,83858,3389735,1338854,56661,85704,3769,77234,199686,2230180,3670229,1742667,1927562,AL
3,AL,2018-01-04,73,25,5,9.0,5,7,14,14,14,14.0,1,1,10.428571,14.0,0,0,0,Alabama,4863300,2356052,2507248,39.0,3763783,3553484,964274,783952,4779442,83858,3389735,1338854,56661,85704,3769,77234,199686,2230180,3670229,1742667,1927562,AL
4,AL,2018-01-05,106,35,5,15.0,6,7,30,30,30,30.0,1,1,15.142857,30.0,0,0,0,Alabama,4863300,2356052,2507248,39.0,3763783,3553484,964274,783952,4779442,83858,3389735,1338854,56661,85704,3769,77234,199686,2230180,3670229,1742667,1927562,AL

In [10]:
census['state_abbr'].describe()

count     52
unique    52
top       AL
freq       1
Name: state_abbr, dtype: object

In [11]:
FinalAnalysisSample['state_abbr'].describe()

count     67151
unique       40
top          AL
freq       1827
Name: state_abbr, dtype: object

The Census has 52 observations for states included (more than 50 because the census has DC & Puerto Rico included) but the Merged Summary only includes the states in which the safegraph data had data for both Chilis and my benchmark chain applebees, thus the MergedSummary only has 40, 12 less than the census. So the merge only puts in the census data for those 40 states.

In [12]:
y = (np.log(FinalAnalysisSample['SumDailyVisits_y'] + 1) - 
    np.log(FinalAnalysisSample['SumDailyVisits_x'] + 1))

In [13]:
print(y)

0       -2.154665
1       -1.290984
2       -1.318241
3       -1.596015
4       -1.238842
           ...
67146   -1.214444
67147   -1.418660
67148   -1.207246
67149   -0.944462
67150   -1.098612
Length: 67151, dtype: float64

In [14]:
df.head()

,index,day,id,naics_code,region,raw_visit_counts,postal_code,city,safegraph_brand_ids,placekey,visits_by_day,date_range_start,date_range_end,year,brands,dailyvisits,date,dayoftheweek,manyvisits,core_biz_area,weekend
0,0,0,0,722511,MO,261,64081,Lees Summit,SG_BRAND_072efa4069c7217d82229845c60e6a0d,222-222@5pr-4pg-9fz,"[26,1,43,45,52,53,41]",2018-12-24,2018-12-31,2018,Chili's Grill & Bar,26,2018-12-24,Monday,0,1,0
1,1,0,1,722511,TX,138,75455,Mount Pleasant,SG_BRAND_072efa4069c7217d82229845c60e6a0d,223-222@8f2-sqt-kj9,"[10,24,14,13,23,24,30]",2018-08-27,2018-09-03,2018,Chili's Grill & Bar,10,2018-08-27,Monday,0,1,0
2,2,0,2,722511,IL,111,61614,Peoria,SG_BRAND_072efa4069c7217d82229845c60e6a0d,223-222@5pv-mqc-t5f,"[10,10,16,15,21,16,23]",2018-03-19,2018-03-26,2018,Chili's Grill & Bar,10,2018-03-19,Monday,0,0,0
3,3,0,3,722511,NH,113,3820,Dover,SG_BRAND_072efa4069c7217d82229845c60e6a0d,zzw-222@62j-wsq-ysq,"[13,15,18,9,26,19,13]",2018-05-07,2018-05-14,2018,Chili's Grill & Bar,13,2018-05-07,Monday,0,0,0
4,4,0,4,722511,TX,175,76039,Euless,SG_BRAND_072efa4069c7217d82229845c60e6a0d,228-222@5qv-x6c-gzf,"[26,14,34,9,34,34,24]",2018-02-12,2018-02-19,2018,Chili's Grill & Bar,26,2018-02-12,Monday,0,1,0

In [15]:
long_ab = pd.read_csv('long_applebees.csv')
long_ab['date'] = pd.to_datetime(long_ab['date'])

In [16]:
merge_longs = pd.merge(df, long_ab, on=['region', 'date'], 
                       how='left')

In [17]:
merge_longs.head()

,index_x,day_x,id_x,naics_code_x,region,raw_visit_counts_x,postal_code_x,city_x,safegraph_brand_ids_x,placekey_x,visits_by_day_x,date_range_start_x,date_range_end_x,year_x,brands_x,dailyvisits_x,date,dayoftheweek_x,manyvisits_x,core_biz_area_x,weekend,index_y,day_y,city_y,placekey_y,year_y,brands_y,date_range_start_y,visits_by_day_y,id_y,date_range_end_y,raw_visit_counts_y,safegraph_brand_ids_y,naics_code_y,postal_code_y,dailyvisits_y,dayoftheweek_y,manyvisits_y,core_biz_area_y
0,0,0,0,722511,MO,261,64081,Lees Summit,SG_BRAND_072efa4069c7217d82229845c60e6a0d,222-222@5pr-4pg-9fz,"[26,1,43,45,52,53,41]",2018-12-24,2018-12-31,2018,Chili's Grill & Bar,26,2018-12-24,Monday,0,1,0,304.0,0.0,Kansas City,222-222@5pr-3b5-dvz,2018.0,Applebee's,2018-12-24,"[29,8,11,21,28,23,26]",304.0,2018-12-31,146.0,SG_BRAND_532a1ea21bbef4dbdc2cae21e89a610a,722511.0,64133.0,29.0,Monday,0.0,1.0
1,0,0,0,722511,MO,261,64081,Lees Summit,SG_BRAND_072efa4069c7217d82229845c60e6a0d,222-222@5pr-4pg-9fz,"[26,1,43,45,52,53,41]",2018-12-24,2018-12-31,2018,Chili's Grill & Bar,26,2018-12-24,Monday,0,1,0,2495.0,0.0,Sedalia,225-222@5pp-jb2-8d9,2018.0,Applebee's,2018-12-24,"[21,21,9,12,29,17,22]",2495.0,2018-12-31,131.0,SG_BRAND_532a1ea21bbef4dbdc2cae21e89a610a,722511.0,65301.0,21.0,Monday,0.0,1.0
2,0,0,0,722511,MO,261,64081,Lees Summit,SG_BRAND_072efa4069c7217d82229845c60e6a0d,222-222@5pr-4pg-9fz,"[26,1,43,45,52,53,41]",2018-12-24,2018-12-31,2018,Chili's Grill & Bar,26,2018-12-24,Monday,0,1,0,3441.0,0.0,Branson,zzw-222@5pt-cmk-vpv,2018.0,Applebee's,2018-12-24,"[21,44,37,44,59,70,30]",3441.0,2018-12-31,305.0,SG_BRAND_532a1ea21bbef4dbdc2cae21e89a610a,722511.0,65616.0,21.0,Monday,0.0,1.0
3,0,0,0,722511,MO,261,64081,Lees Summit,SG_BRAND_072efa4069c7217d82229845c60e6a0d,222-222@5pr-4pg-9fz,"[26,1,43,45,52,53,41]",2018-12-24,2018-12-31,2018,Chili's Grill & Bar,26,2018-12-24,Monday,0,1,0,3514.0,0.0,Belton,222-222@5pr-62z-6hq,2018.0,Applebee's,2018-12-24,"[25,15,17,18,16,18,19]",3514.0,2018-12-31,128.0,SG_BRAND_532a1ea21bbef4dbdc2cae21e89a610a,722511.0,64012.0,25.0,Monday,0.0,1.0
4,0,0,0,722511,MO,261,64081,Lees Summit,SG_BRAND_072efa4069c7217d82229845c60e6a0d,222-222@5pr-4pg-9fz,"[26,1,43,45,52,53,41]",2018-12-24,2018-12-31,2018,Chili's Grill & Bar,26,2018-12-24,Monday,0,1,0,3545.0,0.0,Joplin,223-222@5r7-zx8-vxq,2018.0,Applebee's,2018-12-24,"[16,33,19,25,20,16,22]",3545.0,2018-12-31,151.0,SG_BRAND_532a1ea21bbef4dbdc2cae21e89a610a,722511.0,64804.0,16.0,Monday,0.0,1.0

In [18]:
FinalAnalysisSample['date'] = pd.to_datetime(FinalAnalysisSample['date'])

In [19]:
FinalAnalysisSample['dayoftheweek'] = FinalAnalysisSample['date'].dt.day_name()

In [20]:
FinalAnalysisSample['core_biz_area'] = np.where((FinalAnalysisSample['state_x'] == 'AL')
                                           | (FinalAnalysisSample['state_x'] =='AR')
                                           | (FinalAnalysisSample['state_x'] =='FL') 
                                           | (FinalAnalysisSample['state_x'] =='GA')
                                           |(FinalAnalysisSample['state_x'] == 'KS') 
                                           | (FinalAnalysisSample['state_x'] =='LA')
                                           |(FinalAnalysisSample['state_x'] == 'MI') 
                                           |(FinalAnalysisSample['state_x'] == 'MO') 
                                           |(FinalAnalysisSample['state_x'] == 'MS') 
                                           | (FinalAnalysisSample['state_x'] =='NC') 
                                           |(FinalAnalysisSample['state_x'] =='OK') 
                                           |(FinalAnalysisSample['state_x'] == 'TX') 
                                           |(FinalAnalysisSample['state_x'] == 'WV'), 1, 0)

In [21]:
FinalAnalysisSample['weekend'] = np.where((FinalAnalysisSample['dayoftheweek'] == 'Saturday')
    | (FinalAnalysisSample['dayoftheweek'] =='Sunday'),1,0)

In [22]:
FinalAnalysisSample.head()

,state_x,date,SumDailyVisits_x,MaxDailyVisitsPerUnit_x,MinDailyVisitsPerUnit_x,MedDailyVisitsPerUnit_x,UniqueVisits_x,Nunits_x,SumDailyVisits_y,MaxDailyVisitsPerUnit_y,MinDailyVisitsPerUnit_y,MedDailyVisitsPerUnit_y,UniqueVisits_y,Nunits_y,AvgDailyVisits_x,AvgDailyVisits_y,Post03132020,BlueState,BluePost,state_y,total_population,male,female,median_age,age_over18,age_over21,age_over62,age_over65,single_race,two_or_more_race,white,black,indian_alaska,asian,hawaiian_pacific,other_races,hispanic_latino,housing_units,citizen,citizen_male,citizen_female,state_abbr,dayoftheweek,core_biz_area,weekend
0,AL,2018-01-01,68,20,3,8.0,7,7,7,7,7,7.0,1,1,9.714286,7.0,0,0,0,Alabama,4863300,2356052,2507248,39.0,3763783,3553484,964274,783952,4779442,83858,3389735,1338854,56661,85704,3769,77234,199686,2230180,3670229,1742667,1927562,AL,Monday,1,0
1,AL,2018-01-02,39,9,3,5.0,6,7,10,10,10,10.0,1,1,5.571429,10.0,0,0,0,Alabama,4863300,2356052,2507248,39.0,3763783,3553484,964274,783952,4779442,83858,3389735,1338854,56661,85704,3769,77234,199686,2230180,3670229,1742667,1927562,AL,Tuesday,1,0
2,AL,2018-01-03,70,25,2,9.0,6,7,18,18,18,18.0,1,1,10.000000,18.0,0,0,0,Alabama,4863300,2356052,2507248,39.0,3763783,3553484,964274,783952,4779442,83858,3389735,1338854,56661,85704,3769,77234,199686,2230180,3670229,1742667,1927562,AL,Wednesday,1,0
3,AL,2018-01-04,73,25,5,9.0,5,7,14,14,14,14.0,1,1,10.428571,14.0,0,0,0,Alabama,4863300,2356052,2507248,39.0,3763783,3553484,964274,783952,4779442,83858,3389735,1338854,56661,85704,3769,77234,199686,2230180,3670229,1742667,1927562,AL,Thursday,1,0
4,AL,2018-01-05,106,35,5,15.0,6,7,30,30,30,30.0,1,1,15.142857,30.0,0,0,0,Alabama,4863300,2356052,2507248,39.0,3763783,3553484,964274,783952,4779442,83858,3389735,1338854,56661,85704,3769,77234,199686,2230180,3670229,1742667,1927562,AL,Friday,1,0

A lis of potential X variables for the regression on Y could be as following: Post03132020, BlueState, BluePost, median_age, all but 1 of the age_over variables, white, black, core_biz_area, weekend. I will not use all of these, but they are all possibilities.

In [23]:
X = FinalAnalysisSample.loc[:,['BlueState','median_age', 'white', 
                             'black', 'asian', 'core_biz_area', 
                             'weekend', 'Post03132020' ]]

In [24]:
X.head()

,BlueState,median_age,white,black,asian,core_biz_area,weekend,Post03132020
0,0,39.0,3389735,1338854,85704,1,0,0
1,0,39.0,3389735,1338854,85704,1,0,0
2,0,39.0,3389735,1338854,85704,1,0,0
3,0,39.0,3389735,1338854,85704,1,0,0
4,0,39.0,3389735,1338854,85704,1,0,0

In [25]:
from sklearn.model_selection import train_test_split

X_train, X_test, y_train, y_test = train_test_split(X, y,
                                                    random_state = 1)

In [26]:
from sklearn.preprocessing import MinMaxScaler
scaler = MinMaxScaler()

X_train_scaled = scaler.fit_transform(X_train)
X_test_scaled = scaler.transform(X_test)

In [27]:
print(X_test)

       BlueState  median_age     white    black   asian  core_biz_area  \
33861          0        38.4   5150148   777140  151203              1
52919          0        40.6  10618697  1599908  493781              0
51865          0        36.4   3120274   356787  105872              1
14558          0        38.0   2887953   142363   87194              0
21878          0        36.5   2554809   211231  100795              1
...          ...         ...       ...      ...     ...            ...
29286          0        39.7   8068217  1514424  362199              1
18736          1        37.9   9402346  1950134  786820              0
40661          1        42.7   1274258    26478   42487              0
14462          0        38.0   2887953   142363   87194              0
39867          0        38.7   7210722  2337481  336661              1

       weekend  Post03132020
33861        0             1
52919        1             1
51865        0             1
14558        1             1
21878        0             1
...        ...           ...
29286        1             0
18736        0             1
40661        1             1
14462        0             1
39867        0             1

[16788 rows x 8 columns]

In [28]:
print(X_train)

       BlueState  median_age     white    black    asian  core_biz_area  \
4674           1        36.4  24980439  2758577  6432756              0
34823          0        37.2   1778264  1153632    33524              1
42967          1        37.7   1594339    55675    46208              0
25191          0        36.5   2984864  1563466    93530              1
28862          1        38.5   3557526  1903321   449268              0
...          ...         ...       ...      ...      ...            ...
49100          0        39.3   9769334  1644622   305150              0
20609          0        37.6   5685793   704428   172555              0
21440          0        36.5   2554809   211231   100795              1
50057          0        39.3   9769334  1644622   305150              0
5192           1        36.4  24980439  2758577  6432756              0

       weekend  Post03132020
4674         1             0
34823        1             0
42967        0             0
25191        1             1
28862        0             1
...        ...           ...
49100        0             1
20609        0             1
21440        1             0
50057        0             1
5192         1             1

[50363 rows x 8 columns]

The training dataset has 50363 observations whereas the test dataset has 16788.

In [29]:
X_train['median_age'].describe()

count    50363.000000
mean        38.217968
std          2.090853
min         30.700000
25%         37.200000
50%         38.200000
75%         39.500000
max         42.700000
Name: median_age, dtype: float64

In [30]:
X_test['median_age'].describe()

count    16788.000000
mean        38.219317
std          2.085683
min         30.700000
25%         37.200000
50%         38.200000
75%         39.500000
max         42.700000
Name: median_age, dtype: float64

In [31]:
X_train['white'].describe()

count    5.036300e+04
mean     5.979318e+06
std      5.316787e+06
min      6.799630e+05
25%      2.554809e+06
50%      5.070065e+06
75%      6.278080e+06
max      2.498044e+07
Name: white, dtype: float64

In [32]:
X_test['white'].describe()

count    1.678800e+04
mean     6.067939e+06
std      5.374294e+06
min      6.799630e+05
25%      2.554809e+06
50%      5.070065e+06
75%      6.278080e+06
max      2.498044e+07
Name: white, dtype: float64

In [33]:
X_train['Post03132020'].value_counts()

Post03132020
1    28207
0    22156
Name: count, dtype: int64

56% of the observations in the training dataset are from after the pandemic

In [34]:
X_test['Post03132020'].value_counts()

Post03132020
1    9394
0    7394
Name: count, dtype: int64

the same percent 56% of observations in the test set are from after the pandemic

Both datasets seem to be very close in terms of having similar proportions of data

In [35]:
import statsmodels.formula.api as smf

In [36]:
from sklearn.linear_model import LinearRegression

linreg = LinearRegression().fit(X_train_scaled, y_train)

coef = linreg.coef_

print('R-squared score (training): {:.3f}'.format(linreg.score(X_train_scaled, y_train)))

R-squared score (training): 0.093

In [37]:
coef_sorted = sorted(zip(X.columns, coef), 
                     key = lambda x: abs(x[1]), 
                     reverse = True)

for i, j in coef_sorted:
    print('{var} {coef}'.format(var = i, coef = j))

white 1.2007986105500115
core_biz_area 0.7262475266396958
black -0.297709294437449
asian -0.246255515809624
BlueState 0.06971767889926521
weekend -0.018627836360476945
Post03132020 0.012857871965805453
median_age -0.007765508994837817

Above are the coefficents for the training sample. In the next markdown cell I use the regression data below to determine significance

In [38]:
import statsmodels.api as sm
X2_train_scaled = sm.add_constant(X_train_scaled)
results = sm.OLS(y_train,X2_train_scaled.astype(float)).fit()
results.summary()

<class 'statsmodels.iolib.summary.Summary'>
"""
                            OLS Regression Results
==============================================================================
Dep. Variable:                      y   R-squared:                       0.093
Model:                            OLS   Adj. R-squared:                  0.093
Method:                 Least Squares   F-statistic:                     646.1
Date:                Fri, 19 Apr 2024   Prob (F-statistic):               0.00
Time:                        12:33:54   Log-Likelihood:                -77934.
No. Observations:               50363   AIC:                         1.559e+05
Df Residuals:                   50354   BIC:                         1.560e+05
Df Model:                           8
Covariance Type:            nonrobust
==============================================================================
                 coef    std err          t      P>|t|      [0.025      0.975]
------------------------------------------------------------------------------
const         -0.5865      0.022    -26.701      0.000      -0.630      -0.543
x1             0.0697      0.014      5.022      0.000       0.043       0.097
x2            -0.0078      0.030     -0.260      0.795      -0.066       0.051
x3             1.2008      0.059     20.439      0.000       1.086       1.316
x4            -0.2977      0.032     -9.420      0.000      -0.360      -0.236
x5            -0.2463      0.060     -4.136      0.000      -0.363      -0.130
x6             0.7262      0.014     50.801      0.000       0.698       0.754
x7            -0.0186      0.011     -1.663      0.096      -0.041       0.003
x8             0.0129      0.010      1.259      0.208      -0.007       0.033
==============================================================================
Omnibus:                     2692.894   Durbin-Watson:                   1.994
Prob(Omnibus):                  0.000   Jarque-Bera (JB):             4279.943
Skew:                          -0.455   Prob(JB):                         0.00
Kurtosis:                       4.101   Cond. No.                         23.8
==============================================================================

Notes:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.
"""

At the standard 5% level of the 8 right hand side variables, only 3 are NOT statistically significant. Those would be median age, Post03132020, and weekend. This means we cannot reject the null hypothesis that the coefficients on these variables are not 0. The other five statistics however are all very statistically significant, all significant even at the 1% level

Of the significant ones: White, core_biz_are, and Bluestate  have positive coefficients whereas black, and asain both have negatives.

In [39]:
X2_test_scaled = sm.add_constant(X_test_scaled)
results = sm.OLS(y_test,X2_test_scaled.astype(float)).fit()
results.summary()

<class 'statsmodels.iolib.summary.Summary'>
"""
                            OLS Regression Results
==============================================================================
Dep. Variable:                      y   R-squared:                       0.087
Model:                            OLS   Adj. R-squared:                  0.087
Method:                 Least Squares   F-statistic:                     200.3
Date:                Fri, 19 Apr 2024   Prob (F-statistic):               0.00
Time:                        12:33:55   Log-Likelihood:                -26089.
No. Observations:               16788   AIC:                         5.220e+04
Df Residuals:                   16779   BIC:                         5.227e+04
Df Model:                           8
Covariance Type:            nonrobust
==============================================================================
                 coef    std err          t      P>|t|      [0.025      0.975]
------------------------------------------------------------------------------
const         -0.4999      0.038    -13.075      0.000      -0.575      -0.425
x1             0.0406      0.024      1.669      0.095      -0.007       0.088
x2            -0.1039      0.052     -1.989      0.047      -0.206      -0.002
x3             1.1740      0.103     11.383      0.000       0.972       1.376
x4            -0.2720      0.056     -4.883      0.000      -0.381      -0.163
x5            -0.2543      0.102     -2.488      0.013      -0.455      -0.054
x6             0.6812      0.025     27.334      0.000       0.632       0.730
x7            -0.0316      0.020     -1.608      0.108      -0.070       0.007
x8             0.0013      0.018      0.074      0.941      -0.034       0.036
==============================================================================
Omnibus:                      858.251   Durbin-Watson:                   2.006
Prob(Omnibus):                  0.000   Jarque-Bera (JB):             1413.740
Skew:                          -0.427   Prob(JB):                    1.02e-307
Kurtosis:                       4.136   Cond. No.                         23.9
==============================================================================

Notes:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.
"""

In [40]:
print('R-squared score (test): {:.3f}'.format(linreg.score(X_test_scaled, y_test)))

R-squared score (test): 0.087

The R-squared for the test data is very similar to that of the training data, just .06 less

Lasso, problem 2C:

In [41]:
from sklearn.linear_model import Lasso

linlasso = Lasso(alpha=0.0001, max_iter = 10000).fit(X_train_scaled, y_train)

print('Non-zero features: {}'.format(np.sum(linlasso.coef_ != 0)))
print('R-squared score (training): {:.3f}'.format(linlasso.score(X_train_scaled, y_train)))
print('Features with non-zero weight (sorted by absolute magnitude):')

for e in sorted (list(zip(list(X), linlasso.coef_)),
                key = lambda e: -abs(e[1])):
    if e[1] != 0:
        print('\t{}, {:.3f}'.format(e[0], e[1]))
        
# max_iter: specifies the maximum number of iterations for the optimization algorithm to converge

Non-zero features: 8
R-squared score (training): 0.093
Features with non-zero weight (sorted by absolute magnitude):
	white, 1.170
	core_biz_area, 0.723
	black, -0.285
	asian, -0.218
	BlueState, 0.066
	weekend, -0.018
	Post03132020, 0.012
	median_age, -0.003

In [42]:
linlasso = Lasso(alpha=0.001, max_iter = 10000).fit(X_train_scaled, y_train)

print('Non-zero features: {}'.format(np.sum(linlasso.coef_ != 0)))
print('R-squared score (training): {:.3f}'.format(linlasso.score(X_train_scaled, y_train)))
print('Features with non-zero weight (sorted by absolute magnitude):')

for e in sorted (list(zip(list(X), linlasso.coef_)),
                key = lambda e: -abs(e[1])):
    if e[1] != 0:
        print('\t{}, {:.3f}'.format(e[0], e[1]))

Non-zero features: 6
R-squared score (training): 0.093
Features with non-zero weight (sorted by absolute magnitude):
	white, 0.916
	core_biz_area, 0.699
	black, -0.177
	BlueState, 0.034
	weekend, -0.014
	Post03132020, 0.009

In [43]:
linlasso = Lasso(alpha=0.01, max_iter = 10000).fit(X_train_scaled, y_train)

print('Non-zero features: {}'.format(np.sum(linlasso.coef_ != 0)))
print('R-squared score (training): {:.3f}'.format(linlasso.score(X_train_scaled, y_train)))
print('Features with non-zero weight (sorted by absolute magnitude):')

for e in sorted (list(zip(list(X), linlasso.coef_)),
                key = lambda e: -abs(e[1])):
    if e[1] != 0:
        print('\t{}, {:.3f}'.format(e[0], e[1]))

Non-zero features: 2
R-squared score (training): 0.090
Features with non-zero weight (sorted by absolute magnitude):
	core_biz_area, 0.616
	white, 0.558

In [44]:
linlasso = Lasso(alpha=0.0008, max_iter = 10000).fit(X_train_scaled, y_train)

print('Non-zero features: {}'.format(np.sum(linlasso.coef_ != 0)))
print('R-squared score (training): {:.3f}'.format(linlasso.score(X_train_scaled, y_train)))
print('Features with non-zero weight (sorted by absolute magnitude):')

for e in sorted (list(zip(list(X), linlasso.coef_)),
                key = lambda e: -abs(e[1])):
    if e[1] != 0:
        print('\t{}, {:.3f}'.format(e[0], e[1]))

Non-zero features: 7
R-squared score (training): 0.093
Features with non-zero weight (sorted by absolute magnitude):
	white, 0.956
	core_biz_area, 0.704
	black, -0.198
	BlueState, 0.039
	asian, -0.027
	weekend, -0.015
	Post03132020, 0.010

In [45]:
linlasso = Lasso(alpha=0.1, max_iter = 10000).fit(X_train_scaled, y_train)

print('Non-zero features: {}'.format(np.sum(linlasso.coef_ != 0)))
print('R-squared score (training): {:.3f}'.format(linlasso.score(X_train_scaled, y_train)))
print('Features with non-zero weight (sorted by absolute magnitude):')

for e in sorted (list(zip(list(X), linlasso.coef_)),
                key = lambda e: -abs(e[1])):
    if e[1] != 0:
        print('\t{}, {:.3f}'.format(e[0], e[1]))

Non-zero features: 1
R-squared score (training): 0.040
Features with non-zero weight (sorted by absolute magnitude):
	core_biz_area, 0.229

In [46]:
from sklearn.linear_model import LassoCV

n_alphas = 50
alphas = np.logspace(-5, 1, n_alphas)

linlasso_cv = LassoCV(alphas=alphas, max_iter = 10000).fit(X_train_scaled, y_train)
linlasso_cv.alpha_

9.540954763499944e-05

In [47]:
linlasso = Lasso(alpha=0.0000954, max_iter = 10000).fit(X_train_scaled, y_train)

print('Non-zero features: {}'.format(np.sum(linlasso.coef_ != 0)))
print('R-squared score (training): {:.3f}'.format(linlasso.score(X_train_scaled, y_train)))
print('Features with non-zero weight (sorted by absolute magnitude):')

for e in sorted (list(zip(list(X), linlasso.coef_)),
                key = lambda e: -abs(e[1])):
    if e[1] != 0:
        print('\t{}, {:.3f}'.format(e[0], e[1]))

Non-zero features: 8
R-squared score (training): 0.093
Features with non-zero weight (sorted by absolute magnitude):
	white, 1.171
	core_biz_area, 0.724
	black, -0.286
	asian, -0.219
	BlueState, 0.066
	weekend, -0.018
	Post03132020, 0.012
	median_age, -0.003

After using lassos gridsearch, the command determined .0000954 to be the optimal alpha value, thus that is the alpha I will use. This is very similar to the first alpha value I tested of .0001

The lasso method gives very similar numbers to my regression from part b. median_age has essentially a zero coefficient, as do weekend and Post03132020. 

Of the larger coefficients, their signs and absolute values confirm my prior regression and are almost identical to it. the R-squared is the exact same.

In [48]:
pip install scikit-learn==1.2.2

Requirement already satisfied: scikit-learn==1.2.2 in c:\users\mattm\anaconda3\lib\site-packages (1.2.2)
Requirement already satisfied: numpy>=1.17.3 in c:\users\mattm\anaconda3\lib\site-packages (from scikit-learn==1.2.2) (1.24.3)
Requirement already satisfied: scipy>=1.3.2 in c:\users\mattm\anaconda3\lib\site-packages (from scikit-learn==1.2.2) (1.11.1)
Requirement already satisfied: joblib>=1.1.1 in c:\users\mattm\anaconda3\lib\site-packages (from scikit-learn==1.2.2) (1.2.0)
Requirement already satisfied: threadpoolctl>=2.0.0 in c:\users\mattm\anaconda3\lib\site-packages (from scikit-learn==1.2.2) (2.2.0)
Note: you may need to restart the kernel to use updated packages.

In [49]:
pip install eli5==0.13.0

Requirement already satisfied: eli5==0.13.0 in c:\users\mattm\anaconda3\lib\site-packages (0.13.0)
Requirement already satisfied: attrs>17.1.0 in c:\users\mattm\anaconda3\lib\site-packages (from eli5==0.13.0) (22.1.0)
Requirement already satisfied: jinja2>=3.0.0 in c:\users\mattm\anaconda3\lib\site-packages (from eli5==0.13.0) (3.1.2)
Requirement already satisfied: numpy>=1.9.0 in c:\users\mattm\anaconda3\lib\site-packages (from eli5==0.13.0) (1.24.3)
Requirement already satisfied: scipy in c:\users\mattm\anaconda3\lib\site-packages (from eli5==0.13.0) (1.11.1)
Requirement already satisfied: six in c:\users\mattm\anaconda3\lib\site-packages (from eli5==0.13.0) (1.16.0)
Requirement already satisfied: scikit-learn>=0.20 in c:\users\mattm\anaconda3\lib\site-packages (from eli5==0.13.0) (1.2.2)
Requirement already satisfied: graphviz in c:\users\mattm\anaconda3\lib\site-packages (from eli5==0.13.0) (0.20.3)
Requirement already satisfied: tabulate>=0.7.7 in c:\users\mattm\anaconda3\lib\site-packages (from eli5==0.13.0) (0.8.10)
Requirement already satisfied: MarkupSafe>=2.0 in c:\users\mattm\anaconda3\lib\site-packages (from jinja2>=3.0.0->eli5==0.13.0) (2.1.1)
Requirement already satisfied: joblib>=1.1.1 in c:\users\mattm\anaconda3\lib\site-packages (from scikit-learn>=0.20->eli5==0.13.0) (1.2.0)
Requirement already satisfied: threadpoolctl>=2.0.0 in c:\users\mattm\anaconda3\lib\site-packages (from scikit-learn>=0.20->eli5==0.13.0) (2.2.0)
Note: you may need to restart the kernel to use updated packages.

In [51]:
import eli5
from eli5.sklearn import PermutationImportance

perm = PermutationImportance(linlasso).fit(X_train_scaled, y_train)
eli5.show_weights(perm)

This starts for 0, so x0 is x1 from the regression table above, etc. Using that, the Lasso aggrees that weekend, Post03132020, and median_age are the 3 least important, and the same 5 others as the 5 most important: white, BlueState, Core_biz_area, black, and asian.

Ridge regression 2D:

In [52]:
from sklearn.linear_model import Ridge
linridge = Ridge(alpha=0.1).fit(X_train_scaled, y_train)

print('Ridge regression coef:\n{}'.format(linridge.coef_))
print('R-squared score (training): {:.3f}'.format(linridge.score(X_train_scaled, y_train)))
print('R-squared score (test): {:.3f}'.format(linridge.score(X_test_scaled, y_test)))
print('Number of non-zero features: {}'.format(np.sum(linridge.coef_ != 0)))

Ridge regression coef:
[ 0.06967782 -0.00775563  1.20038644 -0.29753975 -0.24593012  0.72621391
 -0.01862737  0.01285764]
R-squared score (training): 0.093
R-squared score (test): 0.087
Number of non-zero features: 8

In [53]:
from sklearn.linear_model import Ridge
linridge = Ridge(alpha=0.0001).fit(X_train_scaled, y_train)

print('Ridge regression coef:\n{}'.format(linridge.coef_))
print('R-squared score (training): {:.3f}'.format(linridge.score(X_train_scaled, y_train)))
print('R-squared score (test): {:.3f}'.format(linridge.score(X_test_scaled, y_test)))
print('Number of non-zero features: {}'.format(np.sum(linridge.coef_ != 0)))

Ridge regression coef:
[ 0.06971764 -0.0077655   1.2007982  -0.29770912 -0.24625519  0.72624749
 -0.01862784  0.01285787]
R-squared score (training): 0.093
R-squared score (test): 0.087
Number of non-zero features: 8

In [54]:
from sklearn.linear_model import Ridge
linridge = Ridge(alpha=.5).fit(X_train_scaled, y_train)

print('Ridge regression coef:\n{}'.format(linridge.coef_))
print('R-squared score (training): {:.3f}'.format(linridge.score(X_train_scaled, y_train)))
print('R-squared score (test): {:.3f}'.format(linridge.score(X_test_scaled, y_test)))
print('Number of non-zero features: {}'.format(np.sum(linridge.coef_ != 0)))

Ridge regression coef:
[ 0.06951875 -0.00771632  1.19874165 -0.29686299 -0.24463214  0.72607963
 -0.01862551  0.0128567 ]
R-squared score (training): 0.093
R-squared score (test): 0.087
Number of non-zero features: 8

In [55]:
from sklearn.linear_model import RidgeCV

n_alphas = 50
alphas = np.logspace(-5, 2, n_alphas)

linridge_cv = RidgeCV(alphas=alphas).fit(X_train_scaled, y_train)
linridge_cv.alpha_

1.0

In [56]:
from sklearn.linear_model import Ridge
linridge = Ridge(alpha=1).fit(X_train_scaled, y_train)

print('Ridge regression coef:\n{}'.format(linridge.coef_))
print('R-squared score (training): {:.3f}'.format(linridge.score(X_train_scaled, y_train)))
print('R-squared score (test): {:.3f}'.format(linridge.score(X_test_scaled, y_test)))
print('Number of non-zero features: {}'.format(np.sum(linridge.coef_ != 0)))

Ridge regression coef:
[ 0.06932075 -0.00766758  1.19669435 -0.29602018 -0.24301773  0.72591223
 -0.0186232   0.01285554]
R-squared score (training): 0.093
R-squared score (test): 0.087
Number of non-zero features: 8

In [57]:
coef = linridge.coef_
coef_sorted = sorted(zip(X.columns, coef), key = lambda x: x[1])

for i, j in coef_sorted:
    print('{var} {coef}'.format(var = i, coef = j))

black -0.2960201763155785
asian -0.2430177303627765
weekend -0.018623198814688914
median_age -0.0076675844536795434
Post03132020 0.012855540159074337
BlueState 0.06932075494587481
core_biz_area 0.7259122275634754
white 1.1966943467855395

alpha = 1 is shown to be the best alpha for ridge, so I will use that value for my chosen regression. I arrived at this choice by running the gridsearch for ridge to find the optimal alpha.

My ridge regression is very similar to my Lasso. median_age, Post03132020, and weekend all have coefficients that are close to zero. While black, and asain have larger negative coefficients, and BlueState, core_biz_area, and white all have larger positive coefficients. I have gotten the exact smae R-squared of .093 for all 3 of my regressions. 

I know that this is strange but I get this using the optimal R-squared values as determined by the gridsearch commands. I could get different R-squared restults by using different alphas, but I wanted to use the ones that python was telling me to use. 

For example, the alpha I used for Lasso was super small, which basically meant that there was not much control for overfitting. By using a higher value for alpha for lasso, I think I would get more interesting results. However the alpha I was given by the gridsearch was .0000945, so I used that as it should be the optimal. 

The R-squared value for the test is also the same as it was for both other regression of .087

In [58]:


perm = PermutationImportance(linridge).fit(X_train_scaled, y_train)
eli5.show_weights(perm)

the ridge regression aggrees that weekend, Post03132020, and median_age are the 3 least important, and the same 5 others as the 5 most important: white, BlueState, Core_biz_area, black, and asian. 

Again, these 3 are very similar I believe due to the alphas I used. For example, under different alphas for Ridge, the asian parameter falls off quickly, so under different alphas, this could be different.